<div class="p-5" style="margin-left: 496px; text-align: left">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <div class="text-3xl font-medium mb-3" style="color: rgb(253, 121, 71)">
        User Password Change
      </div>
    </div>

    <div>
      <label for="email1" class="block text-700 font-medium mb-2" style="text-align: center"
        >Please enter registered Email/Mobile No <a style="color: red;">*</a></label
      >
      <input
        id="email1"
        type="text"
        placeholder="Email address"
        pInputText
        class="w-full mb-3"
      />

      <button pButton pRipple label="Send OTP" class="w-full"></button>
    </div>
  </div>
</div>
