<div lass="relative p-6 overflow-hidden" style="    padding: 10rem !important;"
    style="margin-top: 6px; padding-bottom: 64px; background: url(&quot;assets/Content/ClientImages/Banner/honore_banner_contact.jpg&quot;) center center repeat-x;">
    <div class="container" style="text-align: center;color: white;"><img src="assets/Content/CakeFactory/img/crown.png" alt="" class="img-responsive">
        <h2 class="white">Contact</h2> <span class="vu_ph-subtitle" style="color: whitesmoke;"><b>Take a look at our
                bakery and discover how we work</b></span>
        <div class="clearfix"></div>
    </div>
</div>
<div class="p-1"></div>

<div  style="background-color:rgb(240, 237, 237) ;">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-nogutter">
        <div class="col-12 md:col-6 bg-no-repeat bg-cover p-8"
            style="background-image: url('assets/images/blocks/contact/contact-1.png')">
            <div class="text-700 text-2xl font-medium mb-6">Contact Us</div>
            <div class="text-700 line-height-3 mb-6"><span style="font-size: 13px;"><i class="pi pi-map-marker" style="color:orangered"></i> HONORE,<br> # 549/3, Ground
                    floor,<br>9th A Main, Hoysala Nagar, 1st stage,<br>Indiranagar Bangalore - 560038</span> </div>
            <a class="inline-flex align-items-center text-blue-300 font-bold no-underline cursor-pointer">
               <!-- <span class="mr-3">View Address on Google Maps</span>
                <i class="pi pi-arrow-right"></i>--><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.0501080958666!2d77.65164931433522!3d12.968645490857822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae16a51b6fdfcd%3A0xd7ce442530f2481c!2zSG9ub3LDqQ!5e0!3m2!1sen!2sin!4v1605338313507!5m2!1sen!2sin" width="600" height="450" frameborder="0" allowfullscreen="allowfullscreen" aria-hidden="false" tabindex="0" style="border: 0px;"></iframe>
            </a>
            <ul class="list-none p-0 m-0 mt-6 text-white">
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-phone mr-2" style="color:forestgreen"></i>
                    <span style="font-size: 13px; color: orange;">+91 88842 22250</span>
                </li>

                <li class="flex align-items-center">
                    <i class="pi pi-inbox mr-2" style="color:orangered"></i>
                    <span><a href="mailto: support@honore.in" style="color: orange;">support&#64;honore.in</a></span>
                </li>
            </ul>
        </div>
        
        <div class="col-12 md:col-6">
            <div class="p-fluid formgrid grid px-4 py-8 md:px-6 lg:px-8">
                <div class="field col-12 lg:col-6 mb-4">
                    <input id="firstname" type="text" [(ngModel)]="firstname" formControlName="firstname" class="py-3 px-2 text-lg" pInputtext placeholder="First Name">
                </div>
                <div class="field col-12 lg:col-6 mb-4">
                    <input id="lastname" type="text" [(ngModel)]="lastname" formControlName="lastname"
                     class="py-3 px-2 text-lg" pInputtext placeholder="Last Name">
                </div>
                <div class="field col-12 mb-4">
                    <input id="email" type="text" [(ngModel)]="email" formControlName="email"  pInputtext class="py-3 px-2 text-lg" placeholder="Email">
                    <small  *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)"     class="block p-error"          >
                        <div *ngIf="emailId.errors?.['required']">Email is required.</div>
                        <div *ngIf="emailId.errors?.['email']">Email should be valid</div>
                      </small>
                </div>
                <div class="field col-12 mb-4">
                    <input id="phone" type="text" [(ngModel)]="phone" formControlName="phone" pInputtext class="py-3 px-2 text-lg" placeholder="Phone">
                </div>
                <div class="field col-12 mb-4">
                    <textarea id="message" pInputtextarea rows="3" [(ngModel)]="message" autoResize="true" class="py-3 px-2 text-lg"
                        placeholder="Message" formControlName="message" style="border-radius: 8px;"></textarea>
                </div>
                <div class="col-12 text-right">
                    <button type="submit" pButton pRipple label="Submit" icon="pi pi-envelope" severity="danger" [disabled]="contactForm.invalid"
                        class="px-5 py-3 w-auto btn btn-danger"></button>
                    <button type="button" pButton pRipple label="Reset" icon="pi pi-envelope" severity="primary" 
                        class="px-5 py-3 w-auto btn btn-default" (click)="onReset()"></button>
                </div>

            </div>
        </div>
    </div>
</form>  