<div lass="relative p-6 overflow-hidden" style="    padding: 10rem !important;"
    style="margin-top: 24px; padding-bottom: 64px; background: url(&quot;assets/Content/ClientImages/Banner/honore_banner_about.jpg&quot;) center center repeat-x;">
    <div class="container" style="text-align: center;color: white;"><img src="assets/Content/CakeFactory/img/crown.png" alt="" class="img-responsive">
        <h2 class="white">About </h2> <span class="vu_ph-subtitle" style="color: whitesmoke;"><b>Take a look at our
                bakery and discover how we work</b></span>
        <div class="clearfix"></div>
    </div>
</div>

<div class="surface-ground px-4 py-8 md:px-6 lg:px-8 ">
   
    <div class="grid nogutter ">
     
            <div class="col-10 lg:col-5 p-3">
            <p-carousel [value]="blogs" [numVisible]="1" [numScroll]="1" [responsiveOptions]="responsiveOptions"  autoplayInterval="3000" >
                <ng-template let-blog #item>
                    <div class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4">
                        <div class="mb-4">
                            <div class="relative mx-auto">
                                
                          
                        
                               <img [src]=blog.image alt="no blog" class="w-full rounded-border" />
                         
                            </div>
                            <div class="p-4" >
                                <span class="block font-medium  mb-3"><h3 [innerHTML]="blog.h31" style="color: brown;"></h3></span>
            
                                <div class="line-height-3 mb-3 text-700"><p [innerHTML]="blog.p1"></p></div>
                                <span class="block font-medium  mb-3"><h3 [innerHTML]="blog.h32" style="color: brown;"></h3></span>
            
                                <div class="line-height-3 mb-3 text-700"><p [innerHTML]="blog.p2"></p></div>
                            </div>
                        </div>
        
               
                    </div>
                </ng-template>
            </p-carousel>
       
        </div>
        
    <!--<div class="col-10 lg:col-5 p-3">
           <a (click)="showDiv()"><img src="assets/Content/ClientImages/Banner/Focaccia-800x600.jpg" alt="Image" class="block w-full border-round-top"></a> 
            <div class="shadow-2 border-round h-full surface-card"  *ngIf="isVisible">
               
                
                <div class="p-4" >
                    <span class="block font-medium  mb-3"><h3> Our <span style="color: brown;">Purpose</span></h3></span>

                    <div class="line-height-3 mb-3 text-700"><p>Our mission is to provide people with nutritious, world-class bread. We learn from traditions and use modern processes to achieve our goal. Craftsmanship and passion are at the heart of what we do.</p></div>
                    <span class="block font-medium  mb-3"><h3> Our <span style="color: brown;">Products</span></h3></span>

                    <div class="line-height-3 mb-3 text-700"><p>Our products are 100% natural, made using unbleached flour and we do not use any preservatives or bread improvers. We use finest of ingredients and our products are made using traditional authentic recipes with the help of modern process.</p></div>
                </div>
            </div>      
        </div>
        <div class="col-12 lg:col-4 p-3">
           <a (click)="showDiv2()"><img src="assets/Content/ClientImages/ProductLarge/SourdoughLoaf_1920x1280.jpg" alt="Image" class="block w-full border-round-top"></a>
            
            <div class="shadow-2 border-round h-full surface-card" *ngIf="isVisible2">
                
                <div class="p-4 flex flex-column" style="margin-bottom: 0rem !important;">
                    <span class="block font-medium " > <h3>Founder of&nbsp;<span style="color: brown;">Honoré</span></h3></span>

                    <div class="line-height-3 mb-3 text-700"><p>Ponnanna MP</p></div>
                    <span class="block font-medium  mb-3"><h3> Honoré <span style="color: brown;">The Story</span></h3></span>

                    <div class="line-height-3 mb-3 text-700"><p>In 2011, I made my first sourdough starter named ‘Maya’ which I still use. 5 years of trial, error and disaster, beginning with baking dinner rolls, then sourdough and I finally had the bread I wanted. I was intrigued by the way sourdough behaved. Its unpredictability was fascinating— flour, water, room temperature— any small change in these elements produced a loaf that was different in taste, texture and aroma.


                        My curiosity grew. I broke down the process into over 100 parameters, dived into the internet to read more, joined groups to learn what I could. I experimented with wild yeast water, using coffee berries, gooseberries and bamboo rice for fermentation. All this while, I was giving bread away free to friends and family. In 2016, I began to take orders, still baking out of my home. My reputation grew by word of mouth—people loved the breads I baked. A couple of pop-up stalls at organized events received an overwhelming response. I continued baking at home. By now I had reached a level of consistency that pleased me, and I began baking commercially in October 2017. After all these years, I feel there is still so much more to learn about the captivating world of sourdough.</p></div>
                </div>
            </div>
        </div>-->
  
    </div>
</div>