
<div class="flex flex-wrap justify-content-center">
    <app-banner></app-banner>
    <div class="surface-section px-4 py-8 md:px-6 lg:px-8" style=" padding-top: 3rem !important;">
   
        <app-prodlist ></app-prodlist>
       <div class="surface-section px-5 py-8 md:px-6 lg:px-8">
        <div class="default-heading"><img src="assets/Content/CakeFactory/img/crown.png" alt="" class="img-responsive"> <h2>Testimonials</h2> <div class="border"></div></div>
        <div class="border"></div>
       
            <div class="surface-card shadow-2 p-4 flex flex-column align-items-center md:flex-row  h-full w-full" style="border-radius: 10px">
                <span>
                    <img src="assets/Content/CakeFactory/img/user1.jpg" class="w-10rem" />
                </span>
                <div class="flex flex-column align-items-center md:align-items-stretch ml-4 mt-4 md:mt-0">
                    <p class="mt-0 mb-3 line-height-3 text-center md:text-left" style="font-style: italic;"> "We have a loaf of sourdough from Honoré Boulangerie once, if not twice a week on our table.
                        It's not an exaggeration to say this is beautiful bread. The crust is crisp and perfect,
                        the crumb generously open, and the texture perfect and flavourful. A loaf lasts remarkably well,
                        often without refrigeration and freezes very well too. When you eat a slice, it's hard to imagine
                        it's crafted using only locally available materials, by a baker with no formal training.
                        It's a great luxury to have bread of this quality in Bengaluru."</p>
                    <span class="text-900 font-medium mb-1 mt-auto" style="font-style: italic;">Kaveri Ponnapa</span>
                   
                </div>
            </div>
        
       </div>
        
    </div>
</div>
